<!-- Places Details Page -->

<h1><%= @place["name"]%></h1>

<h2>Journal Entries</h2>

<% for entry in @entries %>
  <h3 style="margin-bottom: 2px;"><%= entry["title"] %></h3>
  <p style="margin: 0;"><%= entry["occurred_on"] %></p>
  <p style="margin-top: 2px;"><%= entry["description"] %></p>
<% end %>

<p>
  <a href="/entries/new?place=<%= @place["id"]%>">New Post</a>
</p>

<p>
  <a href="/places">Back to Places I've Been</a>
</p>